<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app-bar">
      <div class="left-top">
        <p>Cloud Nest</p>
      </div>
      <div class="right-top">
        <p>Hi,<%= user.firstName %> |</p>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="main-content">
      <div class="add-folder-file">
        <div class="add-folder">
          <a href="/add-folder">New Folder</a>
        </div>
        <div class="add-file">
          <a href="/add-file">Upload File</a>
        </div>
      </div>
      <div class="dashboard"></div>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
